[package]
name = "disintegrate"
description = "Disintegrate is a Rust library to build event-sourced applications."
version = "0.5.1"
license.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true

[features]
macros = ["disintegrate-macros"]
serde = ["disintegrate-serde"]
serde-json = ["serde", "disintegrate-serde/json"]
serde-avro = ["serde", "disintegrate-serde/avro"]
serde-prost = ["serde", "disintegrate-serde/prost"]
serde-protobuf = ["serde", "disintegrate-serde/protobuf"]

[dependencies]
async-trait = "0.1.74"
futures = "0.3.29"
lazy_static = "1.4.0"
regex = "1.9.4"
serde = { version = "1.0.190", features = ["derive"] }
disintegrate-serde = { version = "0.2.1", path = "../disintegrate-serde", optional = true }
disintegrate-macros = { version = "0.4.1", path = "../disintegrate-macros", optional = true }
thiserror = "1.0.50"
mockall = "0.11.4"

[dev-dependencies]
assert2 = "0.3.10"
