[package]
name = "banking"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
disintegrate = { version = "0.5.0", path = "../../disintegrate", features = ["macros", "serde-json"] }
disintegrate-postgres = { version = "0.5.0", path = "../../disintegrate-postgres" }
tokio = { version = "1.33.0", features = ["macros", "rt-multi-thread", "signal"] }
serde = { version = "1.0.190", features = ["derive"] }
thiserror = "1.0.50"
anyhow = "1.0.71"
dotenv = "0.15.0"
sqlx = { version = "0.7.2", features = [ "runtime-tokio-rustls" , "postgres" ] }
actix-web = "4.3.1"
