[package]
name = "banking"
version = "0.1.0"
publish = false
license.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
disintegrate = { version = "0.7.3", path = "../../disintegrate", features = ["macros", "serde-json"] }
disintegrate-postgres = { version = "0.7.3", path = "../../disintegrate-postgres" }
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread", "signal"] }
serde = { version = "1.0.196", features = ["derive"] }
thiserror = "1.0.57"
anyhow = "1.0.79"
dotenv = "0.15.0"
sqlx = { version = "0.7.2", features = [ "runtime-tokio-rustls" , "postgres" ] }
actix-web = "4.4.0"
