[package]
name = "courses"
version = "0.1.0"
publish = false
license.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
anyhow = "1.0.79"
async-trait = "0.1.77"
disintegrate = {version = "0.7.3", path = "../../disintegrate", features = ["macros", "serde-prost"] }
disintegrate-postgres = { version = "0.7.3", path = "../../disintegrate-postgres", features = ["listener"] }
rust_decimal = "1.34.3"
sqlx = { version = "0.7.2", features = [ "runtime-tokio-rustls" , "postgres" ] }
thiserror = "1.0.58"
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread", "signal"] }
tonic = { version = "0.11.0", features = ["gzip", "transport"] }
tonic-health = "0.11.0"
tonic-reflection = "0.11.0"
tower = "0.4.13"
tower-http = { version = "0.5.2", features = ["trace"] }
prost = {version = "0.12.3"}
dotenv = "0.15.0"
serde = "1.0.196"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[build-dependencies]
tonic-build = { version = "0.11.0", features = ["prost"] }
