[package]
name = "courses"
version = "0.1.0"
edition = "2021"
publish = false


[dependencies]
anyhow = "1.0.71"
async-trait = "0.1.74"
disintegrate = {version = "0.5.1", path = "../../disintegrate", features = ["macros", "serde-prost"] }
disintegrate-postgres = { version = "0.5.1", path = "../../disintegrate-postgres", features = ["listener"] }
opentelemetry = { version = "0.19.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.18.0", features = ["rt-tokio"] }
rust_decimal = "1.32.0"
sqlx = { version = "0.7.2", features = [ "runtime-tokio-rustls" , "postgres" ] }
thiserror = "1.0.50"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread", "signal"] }
tonic = { version = "0.10.2", features = ["gzip", "transport"] }
tonic-health = "0.10.2"
tonic-reflection = "0.10.2"
tower = "0.4.13"
tower-http = { version = "0.4.4", features = ["trace"] }
prost = {version = "0.12.2"}
dotenv = "0.15.0"

[build-dependencies]
tonic-build = { version = "0.10.2", features = ["prost"] }
