[package]
name = "courses"
version = "0.1.0"
edition = "2021"
publish = false


[dependencies]
anyhow = "1.0.51"
async-trait = "0.1.52"
disintegrate = {version = "0.3.0", path = "../../disintegrate", features = ["macros", "serde-prost"] }
disintegrate-postgres = { version = "0.3.0", path = "../../disintegrate-postgres", features = ["listener"] }
opentelemetry = { version = "0.19.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.18.0", features = ["rt-tokio"] }
rust_decimal = "1.18.0"
sqlx = { version = "0.6.2", features = [ "runtime-tokio-rustls" , "postgres" ] }
thiserror = "1.0.30"
tokio = { version = "1.13.0", features = ["macros", "rt-multi-thread", "signal"] }
tonic = { version = "0.9.2", features = ["gzip", "transport"] }
tonic-health = "0.9.2"
tonic-reflection = "0.9.2"
tower = "0.4.11"
tower-http = { version = "0.4.0", features = ["trace"] }
prost = {version = "0.11.9"}
dotenv = "0.15.0"

[build-dependencies]
tonic-build = { version = "0.9.2", features = ["prost"] }
